RewriteEngine On

#mostrar siempre www
RewriteCond %{HTTP_HOST} ^ofsystem.com.pe
RewriteRule (.*) https://www.ofsystem.com.pe/$1 [R=301,L]

#bloquear copiar imagenes
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https://(www.)?ofsystem.com.pe/.*$ [NC]
RewriteRule .(jpg|jpeg|gif|png|bmp)$ - [F]

#proteger este arhcivo
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

#forzar HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#ocultar extencion
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]