<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirige todas las solicitudes que no son para un archivo existente a "public"
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /public/$1 [L]

    # Redirige la raíz del dominio a "public/index.php"
    RewriteRule ^$ /public/index.php [L]
</IfModule>
